@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500');


/*------------------------------------------------------Color*/

.menu {
   background: linear-gradient(to right, red, black);
}

body {
    background-color: #000;
}

.section-column p,
.name {
    color: #696969;
}

.music-heading,
.position {
    color: #fafafa;
}

.music-icon {
    color: #4365fc;
}

a {
    color: #9d271f;
}

a:hover {
    color: #631914;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}



/*------------------------------------------------------Header*/

.logo {
    background: url("../images/the-who-now-2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 450px;
}


.menu {
   width: 100%;
}

.menuitem {
    height: 200px;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    height: 200px;
    color: #fafafa;
    
}

.menuitem a i {
    padding-top: 30px;
    display: block;
    color: #fafafa;
    font-size: 36px;
}

.menuitem span {
    display: inline-block;
    width: 100%;
    padding-top: 3px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 2px;
}

.hvr-sweep-to-bottom:before {
    background: rgba(0, 0, 0, 0.3);
    height: 200px;
}

/*------------------------------------------------------Home*/

.music-icon {
    font-size: 45px;
}

.about-the-band h2 {
    margin-bottom: 35px;
    letter-spacing: .05em;
}
.about-the-band p {
    letter-spacing: .05em;
    color: #696969;
}

.band-members p,
.band-members h5{
    line-height: 1.5em;
    letter-spacing: .05em;
}

.section-header {
    margin-top: 30px;
    margin-bottom: 30px;
}

/*------------------------------------------------------Music Videos and Photos*/

.videos {
    min-height: 300px;
}

.media {
    text-align: center;
    
}  

.embed-responsive {
    margin-bottom: 30px;
}

.photos .row p img {
    padding-bottom: 10px;
    margin: auto;
}

/*------------------------------------------------------Calendar*/

.timeline-list {
  list-style: none;
  padding: 20px 20px 0 20px;
  position: relative;
 
}

.timeline-list:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #fafafa;
  left: 50%;
  margin-left: -1.5px;
}

.timeline-list > li {
  margin-bottom: 20px;
  position: relative;
}

.timeline-list > li:before,
.timeline-list > li:after {
  content: " ";
  display: table;
}

.timeline-list > li:after {
  clear: both;
}

.timeline-list > li:before,
.timeline-list > li:after {
  content: " ";
  display: table;
}

.timeline-list > li:after {
  clear: both;
}

.timeline-list > li > .timeline {
  width: 46%;
  float: left; 
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 20px;
  position: relative;
}

.timeline-list > li > .timeline:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}

.timeline-list > li > .timeline:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}

.timeline-list > li > .timeline-icon {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -25px;
  background-color: #999999;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.timeline-list > li.timeline-inverted > .timeline {
  float: right;
}

.timeline-list > li.timeline-inverted > .timeline:before {
  border-left-width: 0;
  border-right-width: 14px;
  left: -15px;
  right: auto;
}

.timeline-list > li.timeline-inverted > .timeline:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

.timeline-icon.primary {
  background-color: #2e6da4 !important;
}

.timeline-icon.warning {
  background-color: #f0ad4e !important;
}

.timeline-icon.danger {
  background-color: #d9534f !important;
}

.timeline-icon.info {
  background-color: #5bc0de !important;
}

.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}

.center-form {
    padding-top: 40px;
    margin: 0 auto;
    max-width: 70%;
}

.concert-pitch p{
    margin-bottom: 50px;
    margin-top: 40px;
}

input {
    margin-bottom: 15px;
}

button[type="submit"] {
    margin-top: 20px;
    margin-bottom: 25px;
    background-color: #9d271f;
    color: #fafafa;
}

button[type="submit"]:hover {
    margin-top: 20px;
    margin-bottom: 25px;
    background-color: #631914;
    color: #d6d5d5;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

/*------------------------------------------------------MP3s*/


.audio-song-name,
.audio-band-name {
    margin-bottom: 50px;
    margin-top: 40px;
}

.audio {
    margin-bottom: 50px;
    margin-top: 40px;
    text-align: center;
}


audio {
    width: 100%;
    max-width: 600px;
}



/*------------------------------------------------------Footer*/


footer {
    background-color: #111111;
    color: #fafafa;
    min-height: 200px;
    margin-top: 20px;
    padding-block-start: 50px;
    }


.social-links {
    padding-bottom: 15px;

}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #bd3026;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.social-links li a i:hover {
    background: #791f18;
}


/*------------------------------------------------------Specials*/

.inline-block {
    display: inline-block;
}

.uppercase {
    text-transform: uppercase;
}

/*------------------------------------------------------Fonts*/
.footer-title {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    color: #fafafa;
    font-size: 20px;
    text-decoration: underline overline
}

.thanks {
    font-family: "Exo", sans-serif;
    font-weight: 500;
    color: #9d271f;
    font-size: 30px;
    text-align: center;
    margin-top: 40px; 
}

.audio-song-name,
.audio-band-name {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #9d271f;
    font-size: 30px;
    text-align: center;
}

.name-mp3 {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    color: #fafafa;
    font-size: 20px;
}

.concert-pitch p{
    font-family: "roboto", sans-serif;
    font-weight: 500;
    color: #fafafa;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
}

.timeline-body p {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #696969;
}

.timeline-title{
  font-family: "roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #fafafa;  
  margin-top: 0;
}

.home-band-details,
.name {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.section-header {
    font-family: "Exo", sans-serif;
    color: #9d271f;
    font-size: 45px;
    font-weight: 600;
    text-align: center;
    text-decoration: underline;
}

.menuitem {
    text-align: center;
    padding-top: 0;
    font-family: "Exo", sans-serif;
    font-weight: 300;
    color: #fafafa;
}

.calendar {
    font-family: "Exo", sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #fafafa;
}
.biography {
    font-family: "Exo", sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #fafafa;
}