@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');


/*------------------------------------------------------Color*/

.menu {
   background: linear-gradient(to right, red, black);
}

body {
    background-color: #000;
}

.section-column p,
.value {
    color: #696969;
}

.music-heading,
.key {
    color: #fafafa;
}

.section-heading {
    color: #d93a2f;
}

.music-icon {
    color: #fff;
}



/*------------------------------------------------------Header*/

.logo {
    background: url("../images/the-who-now-2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 450px;
}

.menu {
   width: 100%;
}

.menuitem {
    height: 200px;
    text-align: center;
    padding-top: 0;
    font-family: "Exo", sans-serif;
    font-weight: 300;
    color: #fafafa;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    height: 200px;
    color: #fafafa;
    
}

.menuitem a i {
    padding-top: 30px;
    display: block;
    color: #fafafa;
    font-size: 36px;
}

.menuitem span {
    display: inline-block;
    width: 100%;
    padding-top: 3px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 2px;
}

.hvr-sweep-to-bottom:before {
    background: rgba(0, 0, 0, 0.3);
    height: 200px;
}

/*------------------------------------------------------Home*/

.music-icon {
    font-size: 45px;
}

.uppercase {
    text-transform: uppercase;
}
